<div class="container dashboard-container">
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="dashboard">Dashboard</a></li>
      <li><a href="dashboard-members">Members
        <% if @facility.total_expired_members > 0 %>
            <span class="noti_bubble"><%= @facility.total_expired_members %></span>
        <% end %>
      </a>
      </li>
      <li><a href="dashboard-memberships">Subscriptions</a></li>
      <li class="active"><a href="#">History</a></li>
    </ul>
  </div>
  <div ng-controller="HistoryCtrl">
    <div id="data" data-facility-id="<%= @facility.id %>"></div>
    <div class="center">
      <dir-pagination-controls></dir-pagination-controls>
    </div>
    <table class="table">
      <tr dir-paginate="log in logs | itemsPerPage: 10">
        <td ng-if="log.auditable_type=='Purchase'">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <span class="member-name">{{log.member.name}}</span> {{log.description}} '{{log.purchase.name}}' for
          {{log.purchase.cost}} on
          <span class="date-holder">{{formatDate(log.date)}}</span>
        </td>
        <td ng-if="log.auditable_type=='Member'">
          <span class="glyphicon glyphicon-user"></span>
          <span class="member-name">{{log.member.name}}</span> was {{log.description}} on
          <span class="date-holder">{{formatDate(log.date)}}</span>
        </td>
        <td ng-if="log.auditable_type=='Subscription'">
          <span class="glyphicon glyphicon-user"></span>
          <span class="member-name">{{log.member.name}}</span> {{log.description}} subscription {{log.membership.name}}
          on
          <span class="date-holder">{{formatDate(log.date)}}</span>
        </td>
      </tr>
    </table>

  </div>
</div>