<div class="container dashboard-container">
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="dashboard">Dashboard</a></li>
      <li><a href="dashboard-members">Members
        <% if @facility.total_expired_members > 0 %>
            <span class="noti_bubble"><%= @facility.total_expired_members %></span>
        <% end %>
      </a>
      </li>
      <li><a href="dashboard-memberships">Subscriptions</a></li>
      <li class="active"><a href="#">History</a></li>
    </ul>
  </div>
  <div ng-controller="HistoryCtrl">
    <div id="data" data-facility-id="<%= @facility.id %>"></div>
    <div>
      <div class="col-md-3"><label for="showLogType">Type
      </label><select name="showLogType" id="showLogType" class="form-control"
                      ng-model="showLogType" ng-options="logType for logType in logTypes" ng-init="showLogType=logTypes[0]"></select>
      </div>

      <dir-pagination-controls class="col-md-4 col-md-offset-2"></dir-pagination-controls>
    </div>
    <table class="table">
      <tr dir-paginate="log in logs | filter:filterLogType(showLogType) | itemsPerPage: 10">
        <td ng-if="log.auditable_type=='Purchase'">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <span class="member-name">{{log.member.name}}</span> {{log.description}} '{{log.purchase.name}}' for
          {{log.purchase.cost}} on
          <span class="date-holder">{{formatDate(log.date)}}</span>
        </td>
        <td ng-if="log.auditable_type=='Member'">
          <span class="glyphicon glyphicon-user"></span>
          <span class="member-name">{{log.member.name}}</span> was {{log.description}} on
          <span class="date-holder">{{formatDate(log.date)}}</span>
        </td>
        <td ng-if="log.auditable_type=='Subscription'">
          <span class="glyphicon glyphicon-calendar"></span>
          <span ng-if="log.description=='renewed'">
            <span class="member-name">{{log.member.name}}</span> {{log.description}} subscription {{log.membership.name}}
          </span>
          <span ng-if="log.description=='extended'">
            <span class="member-name">{{log.member.name}}</span> {{log.description}} subscription {{log.membership.name}} to {{formatDate(log.subscription.end_date)}}
          </span>
          on
          <span class="date-holder">{{formatDate(log.date)}}</span>
        </td>
      </tr>
    </table>

  </div>
</div>