<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="dashboard-members">Members</a></li>
    </ul>
  </div>

  <div class="col-md-10" id="dashboard">
    <div class="row placeholders">
      <h1><%= @facility.name %></h1>
      No of Members : <%= @facility.members.length %>
    </div>
  </div>

</div>