<div class="container dashboard-container">
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="dashboard">Dashboard</a></li>
      <li><a href="dashboard-members">Members
        <% if @facility.total_expired_members > 0 %>
            <span class="noti_bubble"><%= @facility.total_expired_members %></span>
        <% end %>
      </a>
      </li>
      <li class="active"><a href="#">Subscriptions</a></li>
    </ul>
  </div>
  <div ng-controller="MembershipCtrl">
    <div id="data" data-facility-id="<%= @facility.id %>"></div>

    <div class="row col-md-8">
      <h3>All Subscriptions
        <button class="btn btn-primary pull-right" ng-click="addNew()">Add new</button>
      </h3>
      <form ng-show="showAddNew" name="membershipForm" class="row form-horizontal" novalidate>
        <fieldset>

          <!-- Form Name -->
          <legend>Add New</legend>

          <!-- Text input-->
          <div forminput>
            <label for="newMembershipName">Name</label>

            <div class="col-md-4">
              <input unique-items items="getMembershipNames()" id="newMembershipName" ng-model="newMembership.name" name="newMembershipName" type="text" placeholder="eg monthly" required>
            </div>
          </div>

          <!-- Appended Input-->
          <div forminput>
            <label for="newMembershipDuration">Duration</label>

            <div class="col-md-4">
              <div class="input-group duration-container">
                <input class="col-md-4" type="number" id="newMembershipDuration" ng-model="newMembership.duration" name="newMembershipDuration" placeholder="" type="text" min="1" max="1000" required>

                <select name="newMembershipDurationType" id="newMembershipDurationType" class="form-control"
                        ng-model="newMembership.duration_type"
                        ng-options="duration for duration in durationTypes">
                </select>
              </div>

            </div>
          </div>
          <!-- Prepended text-->
          <div forminput>
            <label for="newMembershipCost">Cost</label>

            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">₹</span>
                <input type="number" min="0" max="100000" id="newMembershipCost" ng-model="newMembership.cost" name="newMembershipCost" placeholder="" type="text" required numeric>
              </div>

            </div>
          </div>

          <br/>
          <!-- Button (Double) -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="membershipSave"></label>

            <div class="col-md-6 col-md-offset-4">
              <button id="membershipSave" ng-click="saveMembership(membershipForm)" ng-disabled="membershipForm.$invalid" name="MembershipSave"
                      class="btn btn-success btn-primary col-md-3">Add
              </button>
              <button class="btn btn-warning col-md-3 col-md-offset-1" ng-click="cancelAdd()">Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
          <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="membership in memberships">
          <td>
            <span ng-show="!editing[$index]">{{membership.name}}</span><input type="text" class="form-control" ng-init="editName=membership.name" ng-model="editName" ng-show="editing[$index]">
          </td>
          <td>
            <span ng-show="!editing[$index]">{{getDuration(membership)}}</span>
            <input type="text" class="form-control" ng-init="editDuration=membership.duration" ng-model="editDuration" ng-show="editing[$index]">
            <select ng-show="editing[$index]" ng-model="editDurationType" ng-init="editDurationType=membership.duration_type" ng-options="duration for duration in durationTypes"></select>
          </td>
          <td>
            <span ng-show="!editing[$index]">{{membership.cost}}</span><input type="text" class="form-control" ng-init="editCost=membership.cost" ng-model="editCost" ng-show="editing[$index]">
          </td>
          <td>
            <input ng-show="!editing[$index]" type="button" class="btn btn-primary" value="Edit" ng-click="editing[$index]=true" ng-init="editId=membership.id"/>

            <div class="btn-group btn-group-vertical">
              <input ng-show="editing[$index]" type="button" class="btn btn-success" value="Update" ng-click="updateMembership(editId,editName,editDuration,editDurationType,editCost,$index  )"/>
              <input ng-show="editing[$index]" type="button" class="btn btn-default" value="Cancel"
                     ng-click="editing=false;editName=membership.name;editDuration=membership.duration;editDurationType=membership.duration_type;editCost=membership.cost"/>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>