<div class="container">
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="dashboard">Dashboard</a></li>
      <li class="active"><a href="#">Members</a></li>
      <li><a href="dashboard-memberships">Subscriptions</a></li>
    </ul>
  </div>

  <div ng-controller="MemberCtrl">
    <div ng-controller="DashboardCtrl">
      <div id="dashboard-members" ng-controller="DashboardMembersCtrl">

        <div class="row">
          <div class="col-xs-6 col-md-4">
            <p>
              <label for="search">Search:</label>
              <input ng-model="q" id="search" class="form-control" placeholder="customer name or phone number" ng-init="q=''">
            </p>
          </div>
          <div class="pull-right">
            <a href="facilities/{{facility.id}}/members/new" id="add-member-button" class="btn btn-primary">Add new
              member</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="search">Show inactive:</label>

            <div>
              <toggle-switch ng-model="shouldShowInactive">
                <toggle-switch>
            </div>
          </div>
        </div>


        <div class="row center" ng-show="result">
          <div class="alert alert-success" role="alert">
            {{result}}
          </div>
        </div>

        <div class="row">
          <div class="lead" ng-show="facility.total_expired_members > 0">
            Members with expired subscription :
              <span class="noti_highlight">{{facility.total_expired_members}}</span>
          </div>
          <div class="panel panel-default" ng-show="facility.members.length > 0">
            <div class="panel-heading">List of all members</div>
            <table class="table table-condensed table-hover center">
              <thead>
              <tr>
                <th class="center">Name</th>
                <th class="center">Phone no</th>
                <th class="center hidden-xs">Subscription</th>
                <th class="center">Renewal in</th>
              </tr>
              </thead>

              <tbody>
              <tr ng-class="{warning :subscriptionExpired(member) ,danger: deactivated(member)}"
                  dir-paginate="member in facility.members | filter:filterMembers(q,shouldShowInactive)| orderBy:orderBySubscriptionExpiry |itemsPerPage: 10">
                <td><a href="/members/{{member.id}}">{{member.name}}</a></td>
                <td>{{member.phone_number}}</td>
                <td class="hidden-xs">{{member.latest_subscription.membership.name}}</td>
                <td>{{ !subscriptionExpired(member) ?
                  member.latest_subscription.days_left_words : "Expired "
                  +member.latest_subscription.days_left_words +" ago" }}
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="takeAction" data-toggle="dropdown">
                      Take Action
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li ng-show="subscriptionExpired(member)" ng-click="renew(member)" role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-repeat"></span>
                          Renew</a>
                      </li>
                      <li ng-click="addPurchase(member)" role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-shopping-cart"></span>Add
                          Purchase</a>
                      </li>
                      <li ng-click="extendSubscription(member)" role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-resize-full"></span>
                          Extend Subscription</a>
                      </li>
                      <li ng-show="!deactivated(member)" ng-confirm-click="Are you sure to deactivate?" ng-click="deactivate(member)" role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-remove"></span>Deactivate</a>
                      </li>
                      <li ng-show="deactivated(member)" ng-click="activate(member)" role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-ok"></span>Activate</a>
                      </li>


                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="center">
          <dir-pagination-controls></dir-pagination-controls>
        </div>

      </div>
    </div>
  </div>
</div>