<div class="container">
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="dashboard">Dashboard</a></li>
      <li class="active"><a href="#">Members</a></li>
    </ul>
  </div>

  <div ng-controller="DashboardCtrl">
    <div id="dashboard-members" ng-controller="DashboardMembersCtrl">

      <div class="row">
        <div class="col-md-4">
          <label for="search">Search:</label>
          <input ng-model="q" id="search" class="form-control" placeholder="customer name" ng-init="q=''">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="search">Show inactive:</label>

          <div>
            <toggle-switch ng-model="shouldShowInactive">
              <toggle-switch>
          </div>
        </div>
      </div>


      <div class="row" ng-show="renewStatus">
        <div class="alert alert-success" role="alert">
          {{renewStatus}}
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default" ng-show="facility.members.length > 0">

          <div class="panel-heading">List of all members</div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Phone no</th>
              <th>Subscription</th>
              <th>Days left for renewal</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-class="{warning :subscriptionExpired(member) ,danger: deactivated(member)}" dir-paginate="member in facility.members | filter:filterMembers(q,shouldShowInactive)| orderBy:orderBySubscriptionExpiry |itemsPerPage: 10">
              <td>{{member.name}}</td>
              <td>{{member.phone_number}}</td>
              <td>{{latestSubscription(member).membership.name}}</td>
              <td>{{ !subscriptionExpired(member) ? latestSubscription(member).days_left_words : "Expired since "
                +latestSubscription(member).days_left_words }}
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="takeAction" data-toggle="dropdown">
                    Take Action
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li ng-show="subscriptionExpired(member)" ng-click="renew(member)" role="presentation">
                      <a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-repeat"></span>
                        Renew</a></li>
                      <li ng-show="!deactivated(member)" ng-click="deactivate(member)" role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-remove"></span>Deactivate</a>
                      </li>
                      <li ng-show="deactivated(member)" ng-click="activate(member)" role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-ok"></span>Activate</a>
                      </li>

                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="center">
        <dir-pagination-controls></dir-pagination-controls>
      </div>

    </div>
  </div>
</div>