<div class="container dashboard-container" ng-controller="DashboardCtrl">
  <div class="row" ng-controller="DashboardOverviewCtrl">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#">Dashboard</a></li>
      <li>
        <a href="dashboard-members">
          Members
          <% if @facility.total_expired_members > 0 %>
              <span class="noti_bubble"><%= @facility.total_expired_members %></span>
          <% end %>
        </a>
      </li>
      <li><a href="dashboard-memberships">Subscriptions</a></li>
    </ul>

    <div id="dashboard">
      <div>
        <div class="row placeholders">
          <div class="col-md-6 col-xs-12">
            <h3>Revenue</h3>
            <table class="table lead">
              <tr>
                <td>So far this month</td>
                <td>{{facility.revenues.this_month_revenue | number}}</td>
              </tr>
              <tr>
                <td>By this month end</td>
                <td>{{facility.revenues.this_month_revenue + facility.revenues.expected_revenue_by_month_end | number}}
                  *
                </td>
              </tr>
              <tr>
                <td>Expected next month</td>
                <td>{{facility.revenues.next_month_revenue | number }} *</td>
              </tr>
            </table>
            * If all active members renew their membership
          </div>
          <div class="col-md-6">
            <h3>Customers</h3>
            <table class="table lead">
              <tr>
                <td>Active Customers</td>
                <td>{{getTotalActiveCustomers(facility.members)}}</td>
              </tr>
              <tr>
                <td>Total Customers</td>
                <td>{{facility.members.length}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6 col-xs-12 bordered chart-holder">
            <h3>Monthly Revenue</h3>
            <canvas class="col-md-12" tc-chartjs-bar chart-data="revenueData"></canvas>
            <div class="form-group">
              <label for="showRevenueForMonths" class="col-sm-6 control-label">last months:</label>

              <div class="col-sm-6">
                <select name="showRevenueForMonths" id="showRevenueForMonths" class="form-control" ng-model="showRevenueForMonths" ng-init="showRevenueForMonths=6">
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="showRevenueForType" class="col-sm-6 control-label">Revenue From:</label>


              <div class="col-sm-6">
                <select name="showRevenueForType" id="showRevenueForType" class="form-control" ng-model="showRevenueForType"
                        ng-options="revenueType for revenueType in revenueTypes">
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 bordered chart-holder">
            <h3>Customers Added and Lost </h3>
            <canvas class="col-md-12" tc-chartjs-bar chart-data="membersAddedLost"></canvas>

            <div class="form-group">
              <label for="showAddedLostForMonths" class="col-sm-6 control-label">last months:</label>

              <div class="col-sm-6">
                <select name="showAddedLostForMonths" id="showAddedLostForMonths" class="form-control" ng-model="showAddedLostForMonths" ng-init="showAddedLostForMonths=6">
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12 bordered chart-legend chart-holder">
            <h3>Monthly Revenue Split</h3>
            <canvas class="col-md-12" chart-options="options" tc-chartjs-doughnut chart-data="revenueSplitData" auto-legend></canvas>

            <select name="splitMonth" id="splitMonth" class="form-control"
                    ng-model="splitMonth" ng-options="split for split in splitMonths" required>

            </select>
          </div>
          <div class="col-md-6 col-xs-12 bordered chart-holder">
            <h3>Active Customers</h3>
            <canvas class="col-md-12" tc-chartjs-line chart-data="activeCustomerData"></canvas>

            <div class="form-group">
              <label for="showActiveCustomerForMonths" class="col-sm-6 control-label">last months:</label>

              <div class="col-sm-6">
                <select name="showActiveCustomerForMonths" id="showActiveCustomerForMonths" class="form-control" ng-model="showActiveCustomerForMonths" ng-init="showActiveCustomerForMonths=6">
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12 bordered chart-holder">
            <h3>Revenue Lost</h3>
            <canvas class="col-md-12" tc-chartjs-bar chart-data="revenueLostData"></canvas>

            <div class="form-group">
              <label for="showRevenueLostForMonths" class="col-sm-6 control-label">last months:</label>

              <div class="col-sm-6">
                <select name="showRevenueLostForMonths" id="showRevenueLostForMonths" class="form-control" ng-model="showRevenueLostForMonths" ng-init="showRevenueLostForMonths=6">
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>