<div class="row">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">Dashboard</a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="dashboard-members">Members</a></li>
  </ul>

  <div id="dashboard" ng-controller="DashboardCtrl">
    <div ng-controller="DashboardOverviewCtrl">
      <div class="row placeholders">


      </div>
    </div>
  </div>

</div>