<div class="container" ng-controller="DashboardCtrl">
  <div class="row" ng-controller="DashboardOverviewCtrl">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#">Dashboard</a></li>
      <li><a href="dashboard-members">Members
        <% if @facility.total_expired_members > 0 %>
            <span class="numberCircle" alt="Members whose subscription expired"><%= @facility.total_expired_members %></span>
        <% end %>
      </a>
      </li>
      <li><a href="dashboard-memberships">Subscriptions</a></li>
    </ul>

    <div id="dashboard">
      <div>
        <div class="row placeholders">
          <div class="col-md-6 col-xs-12">
            <h3>Revenue</h3>
            <table class="table lead">
              <tr>
                <td>So far this month</td>
                <td>{{facility.revenues.this_month_revenue | number}}</td>
              </tr>
              <tr>
                <td>By this month end</td>
                <td>{{facility.revenues.this_month_revenue + facility.revenues.expected_revenue_by_month_end | number}}
                  *
                </td>
              </tr>
              <tr>
                <td>Expected next month</td>
                <td>{{facility.revenues.next_month_revenue | number }} *</td>
              </tr>
            </table>
            * If all active members renew their membership
          </div>
          <div class="col-md-6">
            <h3>Customers</h3>
            <table class="table lead">
              <tr>
                <td>Active Customers</td>
                <td>{{getTotalActiveCustomers(facility.members)}}</td>
              </tr>
              <tr>
                <td>Total Customers</td>
                <td>{{facility.members.length}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6 bordered">
            <canvas class="col-md-12" tc-chartjs chart-type="bar" chart-data="revenueData"></canvas>
            <div class="form-group">
              <label for="showRevenueForMonths" class="col-sm-3 control-label">last months:</label>

              <div class="col-sm-2">
                <select name="showRevenueForMonths" id="showRevenueForMonths" class="form-control" ng-model="showRevenueForMonths" ng-init="showRevenueForMonths=6">
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 bordered chart-legend">
            <canvas class="col-md-12" chart-options="options" tc-chartjs-doughnut chart-data="revenueSplitData" auto-legend></canvas>

            <select name="splitMonth" id="splitMonth" class="form-control"
                    ng-model="splitMonth" ng-options="split for split in splitMonths" required>

            </select>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>