<div ng-controller="SetupCtrl">
  <div class="row list-group">
    <div class="col-md-2 col-xs-4 col-md-offset-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar" ng-class="steps[1]">
        </div>
      </div>
      <div class="col-md-offset-5 col-xs-offset-5">Step 1</div>
      <div class="col-md-offset-3 col-xs-offset-3">Facility Details</div>
    </div>
    <div class="col-md-2 col-xs-4">
      <div class="progress">
        <div class="progress-bar" role="progressbar" ng-class="steps[2]">
        </div>
      </div>
      <div class="col-md-offset-4 col-xs-offset-5">Step 2</div>
      <div class="col-md-offset-1 col-xs-offset-3">Membership Details</div>
    </div>
    <div class="col-md-2 col-xs-4">
      <div class="progress">
        <div class="progress-bar" role="progressbar" ng-class="steps[3]">
        </div>
      </div>
      <div class="col-md-offset-5 col-xs-offset-5">Step 3</div>
      <div class="col-md-offset-3 col-xs-offset-3">Member Details</div>
    </div>

  </div>

  <div ng-switch on="status">
    <div class="row" ng-switch-when="facility">
      <form name="facilityForm" class="form-horizontal" novalidate>
        <fieldset>
          <!-- Form Name -->
          <legend>Initial Setup</legend>

          <!-- Text input-->
          <div forminput>
            <label for="facilityName">Facility Name</label>

            <div class="col-md-4">
              <input id="facilityName" ng-model="newFacility.name" name="facilityName" type="text" required/>
            </div>
          </div>

          <!-- Textarea -->
          <div forminput>
            <label for="facilityAddress">Address</label>

            <div class="col-md-4">
              <textarea ng-model="newFacility.address" id="facilityAddress" name="facilityAddress" required></textarea>
            </div>
          </div>

          <!-- Prepended text-->
          <div forminput>
            <label for="facilityPhone">Phone number</label>

            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">+91</span>
                <input id="facilityPhone" ng-model="newFacility.phone" name="facilityPhone" type="number" minlength="10" maxlength="10" required>
              </div>

            </div>
          </div>

          <br/>
          <!-- Button (Double) -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="facilitySave"></label>

            <div class="col-md-6 col-md-offset-4">
              <button id="facilitySave" ng-click="saveFacility()" ng-disabled="facilityForm.$invalid" name="facilitySave" class="btn btn-success col-md-3">Save</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>

    <div class="row" ng-switch-when="membership">
      <form name="membershipForm" class="row form-horizontal" novalidate>
        <fieldset>

          <!-- Form Name -->
          <legend>Membership</legend>

          <!-- Text input-->
          <div forminput>
            <label for="newMembershipName">Name</label>

            <div class="col-md-3">
              <input id="newMembershipName" ng-model="newMembership.name" name="newMembershipName" type="text" placeholder="eg monthly" required>

            </div>
          </div>

          <!-- Appended Input-->
          <div forminput>
            <label for="newMembershipDuration">Duration</label>

            <div class="col-md-3">
              <div class="input-group">
                <input type="number" id="newMembershipDuration" ng-model="newMembership.duration" name="newMembershipDuration" placeholder="" type="text" required>
                <span class="input-group-addon">months</span>
              </div>

            </div>
          </div>
          <!-- Prepended text-->
          <div forminput>
            <label for="newMembershipCost">Cost</label>

            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">₹</span>
                <input type="number" id="newMembershipCost" ng-model="newMembership.cost" name="newMembershipCost" placeholder="" type="text" required numeric>
              </div>

            </div>
          </div>

          <br/>
          <!-- Button (Double) -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="facilitySave"></label>

            <div class="col-md-6 col-md-offset-4">
              <button id="membershipSave" ng-click="saveMembership(membershipForm)" ng-disabled="membershipForm.$invalid" name="MembershipSave" class="btn btn-success btn-primary col-md-3">Add another</button>
              <button id="memberSetupButton" ng-click="setupMember(membershipForm)" ng-show="facility.memberships.length > 0" name="memberSetupButton" class="btn btn-primary col-md-3 col-md-offset-1">Next</button>
            </div>
          </div>

        </fieldset>
        <div ng-show="newMembershipStatus" class="alert alert-success alert-dismissible center col-md-6 col-md-offset-3">{{newMembershipStatus}}</div>
      </form>

      <br/>

      <div class="row panel panel-default" ng-show="facility.memberships.length > 0">
        <div class="panel-heading">List of all memberships added</div>

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Cost</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="membership in facility.memberships">
            <td>{{membership.name}}</td>
            <td>{{membership.duration}}</td>
            <td>{{membership.cost}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row" ng-switch-when="member">
      <form class="row form-horizontal" name="memberForm">
        <fieldset>

          <!-- Form Name -->
          <legend>Add Members</legend>

          <!-- Text input-->
          <div forminput>
            <label for="memberName">Name</label>

            <div class="col-md-4">
              <input id="memberName" ng-model="newMember.name" name="memberName" type="text" placeholder="" required>

            </div>
          </div>

          <!-- Select Basic -->
          <div forminput>
            <label for="memberSex">Sex</label>

            <div class="col-md-4">
              <select id="memberSex" ng-model="newMember.is_male" name="memberSex" class="form-control" required>
                <option value="true">Male</option>
                <option value="false">Female</option>
              </select>
            </div>
          </div>

          <div forminput>
            <label for="memberMembership">Membership</label>

            <div class="col-md-4">
              <select ng-model="newMember.subscription.membership_id" id="memberMembership" name="memberMembership" class="form-control"
                      ng-options="membership.id as membership.name for membership in facility.memberships" required>
              </select>
            </div>
          </div>

          <div forminput>
            <label for="memberMembershipDate">Membership start date</label>

            <div class="col-md-4">
              <input id="memberMembershipDate" ng-model="newMember.subscription.start_date" name="memberMembershipDate" class="form-control" placeholder="dd/mm/yyyy" type="text" required>
            </div>
          </div>

          <!-- Prepended text-->
          <div forminput>
            <label for="memberPhone">Phone</label>

            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">+91</span>
                <input unique-phone members="facility.members" id="memberPhone" type="number" ng-model="newMember.phone_number" name="memberPhone" class="form-control" placeholder="" required minlength="10" maxlength="10">
              </div>

            </div>
          </div>

          <!-- Text input-->
          <div forminput>
            <label for="memberEmail">E mail</label>

            <div class="col-md-4">
              <input id="memberEmail" ng-model="newMember.email" name="memberEmail" placeholder="" type="email">

            </div>
          </div>

          <!-- Text input-->
          <div forminput>
            <label for="memberDob">Date of Birth</label>

            <div class="col-md-4">
              <input id="memberDob" ng-model="newMember.date_of_birth" name="memberDob" type="text" placeholder="dd/mm/yyyy">

            </div>
          </div>

          <!-- Text input-->
          <div forminput>
            <label for="memberOccupation">Occupation</label>

            <div class="col-md-4">
              <input id="memberOccupation" ng-model="newMember.occupation" name="memberOccupation" type="text" placeholder="">

            </div>
          </div>

          <!-- Textarea -->
          <div forminput>
            <label for="memberAddress">Address</label>

            <div class="col-md-4">
              <textarea class="form-control" id="memberAddress" ng-model="newMember.address" name="memberAddress"></textarea>
            </div>
          </div>

          <br/>
          <!-- Button (Double) -->
          <div class="form-group">

            <div class="col-md-7 col-md-offset-3">
              <button id="setupMembershipBack" ng-click="setupMembership()" name="setupMembershipBack" class="btn btn-default col-md-2 col-md-offset-1">Membership</button>
              <button id="savememberButton" ng-disabled="memberForm.$invalid" ng-click="saveMember(memberForm)" name="saveMemberButton" class="btn btn-success col-md-2 col-md-offset-1">Save</button>
              <a id="skipMemberButton" ng-disabled="facility.members.length == 0" href="/" name="skipMemberButton" class="btn btn-primary col-md-2 col-md-offset-1">Dashboard</a>
            </div>
          </div>

        </fieldset>

        <div ng-show="newMemberStatus" class="row alert alert-success col-md-6 col-md-offset-3 center">{{newMemberStatus}}</div>

      </form>
      <br/>


      <div class="row panel panel-default" ng-show="facility.members.length > 0">
        <div class="panel-heading">List of all members</div>

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone no</th>
            <th>Subscription</th>
            <th>Days left for renewal</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="member in facility.members">
            <td>{{member.name}}</td>
            <td>{{member.phone_number}}</td>
            <td>{{member.subscriptions[0].membership.name}}</td>
            <td>{{member.subscriptions[0].days_left}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>