<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Members</a></li>
    </ul>
  </div>

  <div class="col-md-10" id="dashboard">
    <div class="row placeholders">
      <% if @facility %>
          <h1><%= @facility.name %></h1>
          <% if @facility.memberships.nil? %>

          <% end %>
          <a class="btn btn-default" href="<%= new_facility_membership_path(@facility) %>">Add
            membership</a>
      <% end %>
    </div>
  </div>

</div>