<% if @owner.errors.any? or @owner.facility.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">

        <%= pluralize(@owner.errors.count + @owner.facility.errors.count, "error") %> encounterd, please rectify
      </div>
      <ul>
        <% @owner.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        <% @owner.facility.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>