<% if @contact_message.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
        <%= pluralize(@contact_message.errors.count, "error") %> encounterd. please rectify
        </div>
        <ul>
            <% @contact_message.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
