<% provide(:title, 'Vorkout') %>
<div class="center jumbotron" id="home-box">
    <h1>Welcome to Vorkout</h1>

    <h2 class="lead">
        An application that gives financial insights for gyms.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>