<div class="modal-header">
    <h3>New custom subscription</h3>
    This will create a temporary subscription for this member only
</div>
<div class="modal-body">
    <form name="form.membership" class="form-horizontal" novalidate>
        <fieldset>

            <!-- Text input-->
            <div forminput>
                <label for="newMembershipName">Name</label>

                <div class="col-md-5">
                    <input unique-items items="getMembershipNames()" id="newMembershipName"
                           ng-model="newMembership.name"
                           name="newMembershipName" type="text" placeholder="eg trial" required>
                </div>
            </div>

            <!-- Appended Input-->
            <div forminput>
                <label for="newMembershipDuration">Duration</label>

                <div class="col-md-5">
                    <div class="input-group duration-container">
                        <input class="col-md-5" type="number" id="newMembershipDuration"
                               ng-model="newMembership.duration" name="newMembershipDuration" placeholder="" type="text"
                               min="1" max="1000" required>

                        <select name="newMembershipDurationType" id="newMembershipDurationType" class="form-control"
                                ng-model="newMembership.duration_type"
                                ng-options="duration for duration in durationTypes">
                        </select>
                    </div>

                </div>
            </div>
            <!-- Prepended text-->
            <div forminput>
                <label for="newMembershipCost">Cost</label>

                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">₹</span>
                        <input type="number" min="100" max="100000" id="newMembershipCost" ng-model="newMembership.cost"
                               name="newMembershipCost" placeholder="" type="text" required numeric>
                    </div>

                </div>
            </div>
            <br/>
            <!-- Button (Double) -->
            <div ng-show="saveStatus" ng-class="'alert alert-'+saveStatus.style">
                {{saveStatus.text}}
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label" for="membershipSave"></label>

                <div class="col-md-6 col-md-offset-4">
                    <button id="membershipSave" ng-click="saveMembership()" ng-disabled="isFormValid(form.membership)"
                            name="MembershipSave"
                            class="btn btn-success btn-primary col-md-3">Add
                    </button>
                    <button class="btn btn-warning col-md-3 col-md-offset-1" ng-click="cancelAdd()">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
