<div class="modal-header">
    <h3>Membership renewal for {{memberToRenew.name}}</h3>
</div>
<div class="modal-body">
    <form name="renewal" ng-submit="submitRenewal()" novalidate>
        <div forminput>
            <label for="renewMembership">Membership</label>

            <div class="col-md-6">
                <select ng-model="renewMembership.membership_id" id="renewMembership" name="renewMembership"
                        ng-options="membership.id as membership.name for membership in memberships" required>
                </select>
            </div>
        </div>

        <div forminput>
            <label for="renewMembershipStartDate">Start date</label>

            <div class="col-md-6">
                <p class="input-group">
                    <input datepicker-popup="dd/MM/yyyy" name="renewMembershipStartDate"
                           ng-model="renewMembership.start_date" type="text"
                           id="renewMembershipStartDate" placeholder="dd/mm/yyyy"
                           is-open="opened" close-text="Close" ng-required="true">
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>
        </div>
        <span class="col-md-offset-4 btn-primary">* Start date is set to the last subscription end date</span>

        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
