<div class="modal-header center" ng-class="'btn-'+status.style">
    <h3 ng-show="status.style=='success'">Success</h3>

    <h3 ng-show="status.style=='danger'">Failure</h3>
</div>
<div class="modal-body">
    <h3 ng-bind-html="status.text">
    </h3>

    <div>
        <button class="btn btn-default" ng-show="status.style=='success'" ng-click="addAnother()">Add Another
        </button>
        <button class="btn btn-primary" ng-show="status.style=='success'" ng-click="setupMember()">Step 3
        </button>
        <button class="btn btn-primary" ng-show="status.style=='danger'" ng-click="retry()">Retry</button>
    </div>

</div>
