<footer class="footer">
    <small>
        by <a href="https://twitter.com/morbidgod/">Vishnu Karthik L</a> and <a href="https://twitter.com/prashanna_guru"> Prashanna Guru R</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
    </nav>
</footer>