<div id="footer" class="navbar navbar-default navbar-fixed-bottom navbar-inverse footer">
  <div class="container">
    <p class="navbar-text pull-left"> © Copyright 2015 by <a style="cursor: pointer;">Vorkout</a>. All Rights Reserved.</p>
  </div>
</div>